* {
	margin: 0;
	padding: 0;
}

body{
	background: rgba(0,0,0,.12);
	font-family: "Helvetica";
	font-size: 16px;
}

a{
	color: #fff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

header{
	background: rgba(0,0,0,0.75);
	padding: .5%;
	color: #fff;
}

#logo, #menu, #logo img, #logo div{
	display: inline-block;
	vertical-align: top;
}

#logo{
	margin: 1% 2%; 
}

#logo div{
	text-shadow: 0 0 .5em rgba(250,250,250,0.8);
}

#menu{
	font-size: 1.5em;
	margin: 1% 2%;
}

#menu ul li{
	display: inline-block;
	list-style: none;
	margin: 0 ;
}

#home{
	width: 100%;
	text-align: center;
}

#home figure img{
	border: .5em solid #fff;
	border-radius: .5em;
	margin: 0 auto;
	width: 100%;
}

#home article, #home figure{
	display: inline-block;
	margin: 5% 3%;
	vertical-align: top;
	text-align: left;
	width: 43%;
}

#resume{
	background: rgba(250,250,250,0.8);
	padding: 3% 0;
	text-align: center;
}

#resume section{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	text-align: left;
}

#services img{
	width: 80%;
}

footer{
	background: rgba(0,0,0,0.75);
	text-align: right;
	padding: 2% 0 0;
	width: 100%;
}

footer p, footer img{
	display: inline-block;
	vertical-align: middle;
}

#latest-news article{
	margin: 3% 0;
}