* {
	margin: 0;
	padding: 0;
}

body{
	background: rgba(0,0,0,.12);
	font-family: "Helvetica";
	font-size: 16px;
}

a{
	color: #fff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

header{
	box-shadow: inset 0 0 1.1em #000;
	background: rgba(0,0,0,0.75);
	padding: .5%;
	color: #fff;
	text-shadow: 0 0 .5em rgba(250,250,250,0.8);
}

#logo, #menu, #logo img, #logo div{
	display: inline-block;
	vertical-align: top;
}

#logo{
	margin: 1% 2%; 
	width: 40%;
}

#logo div{
	width: 60%;
}

#logo img{
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

#logo img:hover{
	transform: translate(10px);
	-webkit-transform: translate(10px);
}

#logo h1, #logo h2{
	text-align: right;
}

#logo h2{
	font-size: 1em;
}

#menu{
	font-size: 1.5em;
	margin: 1% 2%;
	width: 45%;
}

#menu ul li{
	display: inline-block;
	list-style: none;
	margin: 0 2%;
}

#home{
	width: 100%;
	text-align: center;
}

#home article h2{
	font-size: 2.2em;
}

#home figure img{
	border: .5em solid #fff;
	border-radius: .5em;
	margin: 0 auto;
	transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	box-shadow: .5em .5em 1em rgba(0,0,0,0.5);
	width: 100%;
}

#home article, #home figure{
	display: inline-block;
	margin: 5% 3%;
	vertical-align: top;
	text-align: left;
	width: 43%;
}

#resume{
	background: rgba(250,250,250,0.8);
	padding: 3% 0;
	text-align: center;
}

#resume section{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	text-align: left;
}

#latest-news h2, #services h2, #twitter h2{
  font-size: 2em;
}

#services img{
	width: 80%;
}

footer{
	background: rgba(0,0,0,0.75);
	color: #fff;
	text-align: right;
	padding: 2% 0 0;
	width: 100%;
}

footer p{
	margin: 0 3%;
}

footer p, footer img{
	display: inline-block;
	vertical-align: middle;
}

#latest-news article{
	margin: 3% 0;
}

@media screen and (max-width: 800px){

  #logo h1{
    font-size: 2.5em;
  }

  #logo h2{
    font-size: 1.5em;
  }

  #logo div{
    width: 70%
  }

	#menu ul li{
		display: list-item;
    text-align: right;
  }

 }

@media screen and (max-width: 650px){
  #logo div{
    width: 50%;
  }

  #logo h2{
    font-size: 1.2em;
  }

  #logo, #menu{
    display: block;
    width: 92%;
    text-align: center;
  }

  #menu ul li{
    display: inline-block;
  }
  

 }

 @media screen and (max-width: 450px){
  #menu{
    width: 90%;
  }

  #menu ul li{
    display: block;
    text-align: center;
    font-size: 1.3em;
  }

  #home figure, #home article{
    margin: 4% auto;
    display: block;
    width: 80%;
  }

  #latest-news, #services, #twitter{
    display: block !important;
    width: 90% !important;
    text-align: left;
    margin: 2% auto;
  }

  #logo img{
    /*display: none;*/
  }

  #logo h2{
    /*display: none;*/
  }

  #logo{
    
    text-align: left;
  }



 }