/* DEFAULT */
body{
  background: #abcd55;
  font-size: 16px;
  font-family: 'Text Me One', sans-serif;
  margin: 0;}
a{
  color: #fff;
  text-decoration: none;}
.left{float: left;}
.right{float: right;}
.clear{clear: both;}
::selection{background: rgb(224, 255, 184);}

/* WRAPPER */
#wrapper{
  margin: 0 auto;
  max-width: 1008px;
  padding: 0;}

/* MENU NAV*/
nav{
  background: rgba(171,205,85,0.8);
  box-shadow: inset 0 0 2em rgba(0,0,0,.5);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  text-align: center;}
ul{
  font-size: 1.6em;
  margin: 0;
  padding: 0;}
ul li{
  display: inline-block;
  margin: .4em 2%;}
ul li a{
  text-shadow: 2px 2px .2em rgba(0,0,0,.5);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;}
ul li a:hover{
  color:#ff7e49;
  text-shadow: 2px 2px .2em rgba(250,250,250,.5)}

/* CONTENT */
#content-wrapper{
  margin: 0 auto;
  max-width: 980px;
  width: 100%;}
#slider{
  height: 323px;}
.patron{
  background: url(../images/pattern.png);
  height: 329px;
  max-width: 980px;
  position: absolute;
  width: 100%;
  z-index: 2;}
.absolute{
  max-width: 980px;
  position: absolute;
  width: 100%;
  z-index: 1;}
/* VIDEO CONTENT */
#cont{
  margin: 0 auto;
  max-width: 560px;
  padding-top: 243px;
  position: relative;
  width: 100%;
  z-index: 2;}
#player{
  border: 10px solid rgba(250,250,250,.6);
  border-radius: .6em;
  -webki-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  margin: 0 auto;
  max-width: 560px;
  position: relative;
  width: 100%;
  z-index: 2;}
#player:hover{
  box-shadow: 0 0 2em rgba(0,0,0,.5);}

/* PLAYER BLANK*/
.blank-patron{
  background: url(../images/pattern-2.png);
  height: 540px;
  max-width: 980px;
  position: absolute;
  width: 100%;
  z-index: 1;}
.blank{
  background: #abcd55;
  height: 540px;
  text-align: center;
  width: 100%;}
.blank img, .vacio{
  height: 270px;
  display: inline-block;
  vertical-align: top;}
.p2{width: 304px;}
.vacio{width: 200px;}

/* FOOTER */
footer{
  height: 40px;
  color: #fff;
  font-size: 1.5em;
  text-align: right;
  padding-top: 10px;}
  
/* MEDIA QUERY*/
@media screen and (max-width:1000px){#wrapper{width:auto}}