#contact{
	color: #fff;
	background: rgba(0,0,0,.8);
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	text-align: center;
	box-shadow: 0 2px .5em rgba(0,0,0,.6);
	max-width: 4096px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 auto;
}

#contact h2, #contact ul{
	display: inline-block;
}

#contact ul li{
	display: inline-block;
	margin: 0 5px;
}

#page{
	color: rgba(0,0,0,.7);
	margin: 3.9em auto 1em;
	max-width: 700px;
	width: 100%;
}

#page h1{
	font-size: 52px;
	margin-bottom: .5em;

}

#page img{
	max-width: 700px;
	width: 100%;
}

#show-products{
	text-align: center;
	width: 100%;
	font-size: 1.3em;
	margin-top: 5px;
	color: #fff;
}

#show-products li{
	display: inline-block;
	margin: 0 20px;
	padding: 8px;
	border-radius: .5em;
	max-width: 185px;
	width: 100%;
}

#post-content{
	font-size: 22px;
	font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	font-weight: 400;
	line-height: 1.45;
}

#post-content h2{
	font-size: 1.4em;
	margin: .5em 0 .2em
}

#post-content p{
	margin-bottom: .8em;
}

#back{
	background: rgba(255,52,57,.9);
	border-radius: .5em;
	font-size: 20px;
	margin-bottom: 15px;
	padding: 8px;
	width: 150px;
	text-align: center;
	box-shadow: 0 0 1.2em rgba(0,0,0,.5);
  	color: #fff;
}

.hl{
	border-radius: .5em;
	background: rgba(255,83,13,.6);
	color: #fff;
	padding: 2px 8px;
	text-align: center;
	text-shadow: 0 0 4px rgba(0,0,0,.4);
}