#wrap{
  margin: 10em auto 0;
  max-width: 960px;
  width: 100%;
  text-align: center;
}

#wrap section{
  display: inline-block;
  width: 49%;
}

.btn{
  height: 125px;
  margin: 0 auto 1.2em;
  max-width: 320px;
  width: 100%;
}

.red{
	background: #f97474;
}

.green{
	background: rgba(0,190,0,.8)
}

.blue{
	background: #2E64FE;
}

.black{
	background: rgba(0,0,0,.8);
}
